<?xml version="1.0" encoding="UTF-8"?>
<configuration >

   <!--  <appender name="map" class="com.baeldung.logback.MapAppender">
        <prefix>test</prefix>
    </appender> -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- Integrazione con Bugsnag -->
    <appender name="BUGSNAG" class="com.bugsnag.BugsnagAppender">
	    <apiKey>7d85db376d36dad447361f155411272e</apiKey>
	    <appType>Fenix-BE-WebApp</appType>
	    <appVersion>0.0.1-alpha</appVersion>
	    <releaseStage>development</releaseStage>
	</appender>
	

    <root level="INFO">
       <!--  <appender-ref ref="map"/> -->
        <appender-ref ref="STDOUT"/>
    </root>

	<root level="INFO">
	    <appender-ref ref="BUGSNAG"/>
	</root>

</configuration>